main {
    .bento {
        .idiomas {
            color: whitesmoke;
            text-align: left;
            font-size: 1.6rem;
            font-weight: bold;
            word-spacing: 15px;
            background-image: radial-gradient(circle, #e774e59a 0%, #1f14709c 100%);
        }
    }
}