$technologiesIcons: (
    html: "../assets/img/html.png",
    css: "../assets/img/css.png",
    js: "../assets/img/javascript.png",
    react: "../assets/img/react.png",
    java: "../assets/img/java.png",
    sql: "../assets/img/sql.png",
    php: "../assets/img/php.png"
)